/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
/* @import url('./1-timer.css'); */
/* @import url('./2-snackbar.css'); */

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.go-home-link {
  margin-bottom: 40px;
  text-transform: uppercase;
}

a:hover {
  color: rgb(56, 0, 145);
}

button {
  border-radius: 8px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4e75ff;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}
